body {
    background: radial-gradient(square, #111 20%, #222);
}

.container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.box{
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	background-color: #fff;
	width: 30%;
	height: 340px;
}

.grid{
	text-align: center;
	display: grid;
	margin: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 100px 100px 100px;
}

.button{
	font-size: 2em;
	border: 1px solid black;
	display: block;
	line-height: 2em;
	cursor: pointer;
	font-family: "Spectral SC", serif;
}

.score{
	width: 200px;
	height: 100px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	text-align: center;
}

#menu {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #555;
	overflow: hidden;
    transition: 0.5s;
    text-align:center;
}

.symbol{
	width: 100px;
	height: 100px;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
	font-size: 2em;
	line-height: 100px;
}
